@import url(https://www.markmurray.co/codepen/entypostyle.css);
@import url(https://fonts.googleapis.com/css?family=Merriweather|Raleway);
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  background: #000;
  max-width: 100%;
}

img {
  height: auto;
}

.content {
  max-width: 800px;
  margin: 5em auto;
  font-size: 0.8em;
  line-height: 2;
  overflow: hidden;
  background: white;
  padding: 0 3em;
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  font-family: "Merriweather", sans-serif;
}

.content img {
  width: 130%;
  height: auto;
  position: relative;
  left: -3em;
}
.content p {
  margin: 1em 0;
}
.content p:first-of-type {
  text-indent: 2em;
}
.content .post {
  margin-bottom: 2em;
}
.content button {
  display: inline-block;
  padding: 1em 1.5em;
  background: transparent;
  border: 1px dashed #e74c3c;
  color: #e74c3c;
  cursor: pointer;
}
.content button:hover {
  background: #e74c3c;
  color: white;
}
.content h1 {
  font-size: 2em;
}
.content ul {
  text-align: right;
  margin-top: 1em;
}
.content ul li {
  display: inline;
  margin: 0 1%;
  color: #aaa;
  cursor: pointer;
  padding: 0.5em 0;
}
.content ul li:hover {
  color: black;
  border-bottom: 1px dashed #e74c3c;
}
.content ul li:before {
  color: #e74c3c;
  margin-right: 0.5em;
}

@media (max-width: 800px) {
  li {
    font-size: 0.9em;
    padding: 2%;
  }

  .social li:not(:last-child) {
    display: none;
  }

  .content {
    margin: 5em 18px;
  }
  .content ul li {
    display: inline;
    margin: 0.25%;
  }
}
